table {
  width: 90%;
  margin: 0 auto;

  thead {
    font-weight: bold;
    td {
      width: 20%;
      span {
        cursor: pointer;
      }
    }
  }
  tr {
    height: 25px;
  }
}
